{% extends "base.html" %} {% block title %}Contact Me{% endblock %} {% block
content %}
<p>
  <b>Check Out My: </b>
  <a href="https://github.com/MilesWJ">GitHub</a>
  where you can find my projects and documentation.
</p>
<p>
  <b>Check Out My: </b>
  <a href="https://twitter.com/mileswjames">Twitter</a>
  where you can learn more about me.
</p>
<p>
  <b>E-Mail Me: </b>
  <a href="milesw.james@gmail.com">milesw.james@gmail.com</a>
  where you can contact me about anything.
</p>
<p>
  <b>Join My Discord Server:</b>
  <a href="https://discord.gg/3My2PEZxpT">DREAMWAVE</a>
  where you can communicate with other programmers.
</p>
{% endblock %}
